<div class="container-fluid container-footer">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">
        <div class="col">
            <h2>Контакты</h2>
            <p>тел.: 8-800-555-3535</p>
            <p>г. Берёзовский ул. Пушкина д. 13</p>
        </div>

        <div class="col">
            <h2>Услуги</h2>
            <ul class="list-group list-footer">
                <li class="list-group-item">
                    <a href="#">Все услуги</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Бонусная система</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Личный кабинет</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Акции</a>
                </li>
            </ul>
        </div>

        <div class="col">
            <h2>Компания</h2>
            <ul class="list-group list-footer">
                <li class="list-group-item">
                    <a href="#">О нас</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</div>