<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Victoria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">

  </head>
  <body>
    <!-- Вставляем меню -->
    {% include 'pages/menu.html' %}

    <!--    Самый верхний баннер -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card bg-dark text-white mt-4">
            <img src="{% static 'images/blue_auto_in_dark_room_cutted.jpg' %}" class="card-img img-fluid image-promo" alt="Автосервис авто">
            <div class="card-img-overlay">
              <h2 class="promo-title">
                Профессиональное техническое обслуживание Вашего автомобиля
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--    Карточки с услугами-->
    <div class="container-fluid">
      <div class="row mt-5">
        <div>
          <h2>
            Что мы предлагаем
          </h2>
        </div>
      </div>
    </div>

    <!--    Блок карточек услуг-->
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        <div class="col">
          <div class="card bg-dark text-white mt-4">
            <img src="{% static 'images/replacement_of_consumables_in_a_car.jpg' %}" class="card-img img-fluid" alt="Автосервис авто">
            <div class="card-img-overlay">
              <h2 class="card-title card-services-title">
                Плановое ТО с заменой расходников
              </h2>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card bg-dark text-white mt-4">
            <img src="{% static 'images/mechanic_working_car_suspension_repair_shop.jpg' %}" class="card-img img-fluid" alt="Автосервис авто">
            <div class="card-img-overlay">
              <h2 class="card-title card-services-title">
                Полная диагностика авто
              </h2>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card bg-dark text-white mt-4">
            <img src="{% static 'images/different_car_accessories_composition.jpg' %}" class="card-img img-fluid" alt="Автосервис авто">
            <div class="card-img-overlay">
              <h2 class="card-title card-services-title">
                Запчасти
              </h2>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card bg-dark text-white mt-4">
            <img src="{% static 'images/cars_on_a_parking.png' %}" class="card-img img-fluid" alt="Автосервис авто">
            <div class="card-img-overlay">
              <h2 class="card-title card-services-title">
                Автоподбор
              </h2>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card bg-dark text-white mt-4">
            <img src="{% static 'images/car_tire.png' %}" class="card-img img-fluid" alt="Автосервис авто">
            <div class="card-img-overlay">
              <h2 class="card-title card-services-title text-nowrap">
                Шиномонтаж
              </h2>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card bg-dark text-white mt-4">
            <img src="{% static 'images/car_on_the_garage.png' %}" class="card-img img-fluid" alt="Автосервис авто">
            <div class="card-img-overlay">
              <h2 class="card-title card-services-title">
                Развал-схождение
              </h2>
            </div>
          </div>
        </div>

      </div>
    </div>

      <!--    Блок "Почему стоит выбрать нас"-->
    <div class="container-fluid">
      <div class="row mt-5">
        <div>
          <h2>
            Почему стоит выбрать нас
          </h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mt-5 row-cols-1 row-cols-sm-1 row-cols-md-3">
        <div class="col d-flex justify-content-center">
          <div class="card card-whyme text-center mt-4" style="width: 18rem;">
            <img src="{% static 'images/sheild-dynamic-gradient.png' %}" class="card-img-top w-50 mx-auto" alt="...">
            <div class="card-body">
              <h6 class="card-title">Качество</h6>
              <p class="card-text">для нас на первом месте.</p>
            </div>
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          <div class="card card-whyme text-center mt-4" style="width: 18rem;">
            <img src="{% static 'images/star-dynamic-color.png' %}" class="card-img-top w-50 mx-auto" alt="...">
            <div class="card-body">
              <h6 class="card-title">Команда профессионалов</h6>
              <p class="card-text">с большим опытом работы, которая любит своё дело.</p>
            </div>
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          <div class="card card-whyme text-center mt-4" style="width: 18rem;">
            <img src="{% static 'images/dollar-dynamic-color.png' %}" class="card-img-top w-50 mx-auto" alt="...">
            <div class="card-body">
              <h6 class="card-title">Доступные цены</h6>
              <p class="card-text">Мы знаем потребности наших клиентов и подскажем где и как можно сэкономить.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </body>
</html>